body, html {
  height: 100%;
  margin: 0;
  padding:0;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #c7c7c7 #253c28;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 11px;
  }

  *::-webkit-scrollbar-track {
    background: #253c28;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    border-radius: 43px;
    border: -27px double #513434;
  }